{% extends 'user_nav.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('Password Changed Successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong, Try Again');
</script>
{% endifequal %}


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/change_password.png' %}" style="width:90%; height:400px;">
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2><hr>
            <form method="post">
                {% csrf_token%}
                <label>Old Password</label>
                <input type="password" class="form-control" placeholder="Enter Old Password" name="old" required>
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" name="new" required>
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Re-enter New Password" name="confirm" required>
                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>

        </div>
    </div>

</div>

{% endblock %}